{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title  style="font-family: laser;">{{user.username}} Profile</title>
	<html lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'User/long.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'User/fonts.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'User/Newfonts.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- icons -->
  	<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  	<script src="{% static 'User/jquery1.js' %}"></script>
</head>
<body>
<div class="header">
	<header>
		Chats 
		<div class="mssg">
			
				<img src="{% static 'User/icons/mail.svg' %}">
			
			
			
		
			
		</div>
	</header>
</div>

<aside class="pick">
	<div class="recent">
		{% for convos in convo %}
		{% if convos.Recipient != request.user %}
		<a style="text-decoration: none; color: black; cursor: pointer;" href="{% url 'chat' convos.Recipient.username %}">
		<div class="person">
			
			<div class="cpic-sect"><div class="cpic cpic1"><img style="width: 50px; height: 50px; border-radius: 100%;" src= "{{convos.Recipient.profile.image.url}}"  ></div></div>
			<!--------------->
			<div class="ctxt">
				<div class="line"></div>
				<div class="sdr-nm">
					{{convos.Recipient.username}}
					<div class="active"></div>
				</div>
				<div class="act-txt">
					{{convos.last_message}}
				</div>
				<div class="time-del">
					
					{{convos.last_contact}}
					<div class="num-mes"></div>
				</div>
			</div>
			</div>
		</a>
		{% else %}
		<a style="text-decoration: none; color: black; cursor: pointer;" href="{% url 'chat' convos.Initiator.username %}">
		<div class="person">
			<div class="cpic-sect"><div class="cpic cpic1"><img style="width: 50px; height: 50px; border-radius: 100%;" src= "{{convos.Initiator.profile.image.url}}"  ></div></div>
			<!--------------->
			<div class="ctxt">
				<div class="line"></div>
				<div class="sdr-nm">
					{{convos.Initiator.username}}
					<div class="active"></div>
				</div>
				<div class="act-txt">
					{{convos.last_message}}
				</div>
				<div class="time-del">
					
					{{convos.last_contact}}
					<div class="num-mes"></div>
				</div>
			</div>
		</div>
	</a>
		{% endif %}
		{% endfor %}
		
		
		
	</div>
</aside>

<div class="nav">
	<div class="nava">
		<div class="logo">
			<div class="div-a">M</div><div class="div-b">e</div><div class="div-c">/</div><div class="div-d">g</div><div class="div-e">a</div>
		</div>
		<div style="cursor: pointer;" class="waver">
			<img src="{% static 'User/icons/wave2.svg' %}" class="wave">
		</div>
		<div style="cursor: pointer;" class="nav-links">
			<a style="text-decoration: none;" href="{% url 'Home' %}"><div>Home</div></a>
			<a style="text-decoration: none;" ><div>About</div></a>
			<a style="text-decoration: none;"><div>Explore</div></a>
		</div>
	</div>
	<div class="nav-line"></div>
</div>


<div class="prof">
	<div class="land-prof">
		
		<div class="ppic">
			<img  style="width: 220px;  "  src= "{{user.profile.image.url}}" alt="">
		</div>
		<!----------------------->
		<div class="name">
			<div class="r-name">{{user.username}}</div>
			<div class="u-name">{{user.profile.total_likes}} flinged this user </div>
		</div>
		<!----------------------->
		{% if request.user == user %}
            <a href="{% url 'update-profile' %}" ><button class="fing">Update Profile </button></a>
		{% else %}
		<a style="position: absolute;top: 61.99%; width: 24px;" href="{% url 'chat' user.username %}"><img src="{% static 'User/icons/mail.svg' %}"></a>
		<form action="{% url 'like_profile' user.profile.pk %}" method="POST"> {% csrf_token %} 
			<button name="profile_id" class="fing" value="{{user.profile.pk}}">Flinge</button>
		</form>
        {% endif %}
		
		<!----------------------->
		<div class="bio">
			
		</div>
		
		
		<!----------------------->
		<ul class="pmed">
	        <li>
	        	<img style="width: 16px;  margin-right: 4px;" src="https://img.icons8.com/material/48/000000/worldwide-location--v1.png"/>
	        	{{user.profile.location}}
	        </li>
	        <li>
	        	<img style="width: 15px; margin-right: 4px;" src="https://img.icons8.com/metro/26/000000/birthday.png"/>
	        	 {{user.profile.date_of_birth}}
	        </li>
	        
	    </ul>
	    <div class="scroll"><a style="color: black; text-decoration: none;" href="#about">scroll to meet {{user.username}}</a></div>
    </div>
    <!----------------------->

    <div class="about" id="about">
    	<div class="details">
    		<div class="descrip">
    			<header>Brief Info</header>
    			{{user.profile.about}}
    		</div>
    		
    	</div>
    	<div class="features">
			<div class="characs">
				<li>Gender<span>{{user.profile.gender}}</span></li>			
				<li>Interested In <span>{{user.profile.interested_in}}</span></li>
				<li>Min Age in view <span>{{user.profile.minimum_age}}yrs</span></li>
				<li>Max Age in view <span>{{user.profile.maximum_age}}yrs</span></li>
				<li>Drinking <span>{{user.profile.drinking}}</span></li>
				<li>Smoking <span>{{user.profile.smoking}}</span></li>
				<li>Would prefer <span>{{user.profile.looking_for}}</span></li>				
			</div>
			<div class="characs-see-all">
				<a style="text-decoration: none;" href="{% url 'user-pics' user.username %}"><span><tag>{{user.username}} media</tag></span></a>
				<img src="{% static 'User/icons/rgt.png' %}" class="arrow-to2">
			</div>
		</div>
    </div>
</div>


<div class="setters">

	<div class="menu-but">
		<div class="men-l1"></div>
		<div class="men-l2"></div>
		<div class="men-l3"></div>
		<div class="men-l4"></div>
	</div>

	<a style="text-decoration: none; color: black;" href="" class="home-page">
		<img src="{% static 'User/icons/magnifiying-glass.svg' %}">
	</a>
	<a style="text-decoration: none; color: black;" href="{% url 'notifications' %}"  class="notif">
		<img src="{% static 'User/icons/bell.svg' %}">
		<p></p>
	</a>
	<a href="{% url 'profile' request.user.username %}" class="music">
		<img src="{% static 'User/icons/person.svg' %}">
	</a>
	

	<div class="logout">
		<a href="{% url 'logout' %}" class="out">
			<img src="{% static 'User/icons/logout.svg' %}">
		</a>
	</div>
</div>

<!-- Scripts -->
<script src="{% static 'User/long.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
	function rearrange_message_list(){
			$('.recent').html("")
				$.ajax ({
	
			url:"{% url 'messages_db' %}",
	
			success: function load(data){
			console.log(data);
			result=data
			$.each(result,function(i,item) {
			
			$('.recent').append(`

			
			
			<a style="text-decoration: none; color: black; cursor: pointer;" href="${loc.host}/chat/${item.user}/">
			<div class="person">
			
			<div class="cpic-sect"><div class="cpic cpic1"><img style="width: 50px; height: 50px; border-radius: 100%;" src= "${item.user_img_path}""  ></div></div>
			<!--------------->
			<div class="ctxt">
				<div class="line"></div>
				<div class="sdr-nm">
					${item.user}
					<div class="active"></div>
				</div>
				<div class="act-txt">
					${item.last_message}
				</div>
				<div class="time-del">
					
					${item.last_contact}
					<div class="num-mes"></div>
				</div>
			</div>
			</div>
		</a>


			
			`)
			
			})
			}
			
		
		
		
		})
		}

		//setInterval(rearrange_message_list,30000)

</script>
</body>
</html>